*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: white;
    justify-content: center;
    text-align: center;
}
#heading{
    padding-top:50px ;
    /* justify-content: center;
    text-align: center; */
    font-size: 70px;
    margin-top: 70px;
    padding-top:40px;
    
}
.image{
    width: 280px;
    height: 280px;
}
#img{
    /* justify-content: center;
    text-align: center; */
    margin-top: 150px;
    margin-bottom: 2px;
}
button{
  color: white;
  background: black;
}
button:hover{
    color: grey;
}