*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: rgb(39, 39, 59);
}
#title{
    margin: 70px;
    justify-content: center;
    text-align: center;
    color: #fff;
    font-size: 90px;    
}
#set{
display: flex;
flex-direction: row;
width: 100vw;
justify-content: space-around;
height: 200px;
padding: 20px;
}
.w{
    background:url(image/tom1.png);
    
}
.a{
    background:url(image/tom2.png);
    
}
.s{
    background:url(image/tom3.png);
   
}
.d{
    background:url(image/tom4.png);
}
.j{
    background:url(image/crash.png);
}
.k{
    background:url(image/snare.png);
}
.l{
    background:url(image/kick.png)
}
button{
    width: 170px;
    height: 170px;
    font-size: 70px;
    color: rgb(227, 210, 210);
    border: 5px solid black;
    box-shadow: .5px .5px;    
}
footer{
    position: relative;
    margin-top: 130px;
    color: #fff;
    text-align: center;
}