*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.title{
    margin: 10px;
    text-align: center;
    padding-top: 10px ;
    justify-content: center;
    background-color: rgba(59, 57, 57, 0.179);
    height: 70px;
    width:99%;
    font-size: 50px;   
    border-radius: 10px;
}
.bar{
    justify-content: center;
    text-align: center;
    margin: 30px 114px;
    width: 85%;
    height: 68px;
    padding: 9px 4px;
    background-color: rgb(243, 191, 199);
    border-radius: 10px;
}
#input-data{
    padding: 19px;
   width: 440px;
   height: 40px;
   border: 3px solid black;
   border-radius: 40px;
   font-size: 30px;
}
.btn{
    width: 80px;
    height: 45px;
    border: 2px solid black;
    border-radius: 15px;
    margin:0px 10px 0px 15px;
    color: #fff;
    font-size: 20px;
    background-color: grey;
}
.btn:hover{
    color: black;
    background-color: white;
}
.text-area{
    max-width: 800px;
    display: flex;
    flex-direction: wrap;
    height:400px;
    margin-left: 365px;
    margin-top: 20px;
    border: 5px solid black;
    border-radius: 20px;
    scroll-behavior: auto;
    
}
.task{
    display: flex; 
    width: 800px;
    height: 60px;
    background-color: beige;
    justify-content: space-around;
    padding: 5px 0px;
    border-radius: 10px;
}
.content{
    width: 520px;
    display: flex;
    
    height: 50px;
    border: none;
    border-radius: 40px;
    background-color: rgb(57, 56, 56) important;
    color: rgb(218, 218, 218) important;
    font-size: 25px;
    justify-content: center;
    text-align: center;
}
#content:focus{
    border: none;
    outline: none;
}
.edit{
    outline: none;
    appearance: none;
    width: 50px;
    border: none;
    font-size: 20px;
    transition: 0.4s;
}
.edit:hover{
    color: rgb(37, 37, 246);
}
.delete{
    outline: none;
    appearance: none;
    width: 50px;
    border: none;
    font-size: 20px;
    transition: 0.4s;
}
.delete:hover{
    color:red;
}