body {
    margin: 10px auto;
    min-width: 250px;
    max-width: 50%;
    background-color: silver;
  }
  * {
    box-sizing: border-box;
  }
  
  ul {
    margin: 0;
    padding: 0;
    width:865px ;
  }
  ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
 
  ul li:nth-child(odd) {
  background: #f9f9f9;
  }
  ul li:hover {
    background: #ddd;
  }
  ul li.checked {
    background: rgb(144, 208, 215);
    color: white;
    text-decoration: line-through;
  }
  ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }
  
  /* Style the close button */
  .close {
    position: absolute;
    right: 0;
    top: 0;
    width: 60px;
    height: 43px;
    border-radius: 10px;
    color: white;
    background:rgb(71, 70, 70);
  }
  
  .close:hover {
    color: red;
    font-size: 17px;
  }
  .header {
    background-color: rgb(30 26 26);
    padding: 30px 59px;
    width: 865px;
    color: white;
    text-align: center;
    border-radius: 10px;
  }
  .header:after {
    content: "";
    display: table;
    clear: both;
  }
  input {
    margin: 0;
    border-radius: 10px;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
  }
  .addBtn {
    padding: 10px;
    width: 25%;
    background: #00f9f9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 10px;
  }
  .addBtn:hover {
    background-color: #bbb;
  }
  #clear-list{
    width: 25%;
    font-weight: bold;
    font-style: italic;
    font-size: xx-large;
    font-family: "Times New Roman";
    margin: 40px 35%;
    background-color: rgb(255, 26, 14);
    color: white;
    border-radius: 10px;
  }
  #clear-list:hover{
    background-color: rgb(204, 20, 20);
    color: white;
  }
